<template>
    <main>
        <section class="left">
            <section class="nes-container with-title base-value">
                <div class="title">
                    Base value
                </div>
                <input
                    v-model="baseValue"
                    type="text"
                    class="nes-input"
                    placeholder="Base value"
                    :class="{ 'is-error': isNaN( baseValue ) }"
                />
            </section>

            <section class="nes-container with-title steps">
                <span v-if="!steps.length" class="message">Your steps will show here. Add some using the button below.</span>

                <div v-else ref="steps" class="steps">
                    <div v-for="( step, index ) in steps" :key="index" class="nes-container">
                        <div class="nes-select">
                            <select ref="stepInputs" v-model="step.operation">
                                <option value="optellen">
                                    Optellen
                                </option>
                                <option value="aftrekken">
                                    Aftrekken
                                </option>
                                <option value="vermenigvuldigen">
                                    Vermenigvuldigen
                                </option>
                                <option value="wortel">
                                    Wortel
                                </option>
                                <option value="kwadraat">
                                    Kwadraat
                                </option>
                            </select>
                        </div>

                        <input
                            v-if="step.operation !== 'kwadraat' && step.operation !== 'wortel'"
                            v-model="step.value"
                            type="text"
                            class="nes-input"
                            placeholder="Base value"
                            :class="{ 'is-error': isNaN( step.value ) }"
                        />

                        <span v-if="step.warning" class="nes-text is-warning">Warning: {{ step.warning }}</span>
                        <span v-if="step.error" class="nes-text is-error">Syntax Error: {{ step.error }}</span>
                    </div>
                </div>

                <button type="button" class="nes-btn add-step is-warning" @click="addNewStep">
                    Add step
                </button>
            </section>

            <section class="nes-container actions">
                <button type="button" class="nes-btn" @click="steps = []">
                    Reset
                </button>
                <button type="button" class="nes-btn" @click="randomizeSteps">
                    Randomize
                </button>
            </section>

            <section class="nes-container submit">
                <div class="nes-select">
                    <select id="default_select" v-model="apiVersion" required>
                        <option
                            value=""
                            disabled
                            selected
                            hidden
                        >
                            Select API version
                        </option>
                        <option value="1" disabled>
                            api-v1
                        </option>
                        <option value="2">
                            api-v2 (basic)
                        </option>
                        <option value="3">
                            api-v3 (extra info)
                        </option>
                    </select>
                </div>
                <button
                    type="button"
                    class="nes-btn"
                    :class="calculateButtonDisabled ? 'is-disabled' : 'is-primary'"
                    @click="submit"
                >
                    Calculate
                </button>
            </section>
        </section>
        <section class="right">
            {{ !steps.length ? 'No steps have been added yet.' : lastResponse }}
        </section>
    </main>
</template>

<style lang="scss" scoped>
main {
    height: 100%;
    width: 100%;
}

section.left {
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 500px;
    height: 100%;
    padding: 20px;

    .nes-container, .nes-btn, .nes-input, .nes-select {
        width: 100%;
    }

    section.base-value {
        flex-shrink: 0;
        margin-bottom: 20px;
    }

    section.steps {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        margin-bottom: 20px;
        overflow: hidden;

        span.message {
            display: inline-block;
            width: 100%;
            text-align: center;
        }

        .steps {
            height: 100%;
            overflow-y: auto;

            > .nes-container {
                float: left;
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0px;;
                }
            }

            .nes-input {
                margin-top: 10px;
            }

            .nes-text {
                display: inline-block;
                width: 100%;
                margin-top: 15px;
                text-align: center;
            }
        }

        .add-step {
            flex-shrink: 0;
            margin-top: 20px;
        }
    }

    section.actions {
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        button {
            width: calc( 50% - 20px );
            height: 100%;
        }
    }

    section.submit {
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .nes-btn, .nes-select {
            width: 100%;
        }

        .nes-select {
            margin-bottom: 20px;
        }
    }
}

section.right {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 15%;
    font-size: 3rem;
    height: 100%;
    width: calc( 100% - 500px );
    text-align: center;
}
</style>

<script>
import Axios from 'axios'
import Vue from 'vue'

export default {
    data()
    {
        return {
            baseValue: 1,
            steps: [],
            lastResponse: "Press the 'calculate' button to request results from backend",
            apiVersion: 2
        }
    },

    computed: {
        calculateButtonDisabled()
        {
            if ( !this.steps.length ) return true
            if ( this.steps.some( ( step ) => isNaN( step.value ) ) ) return true
            return isNaN( this.baseValue )
        }
    },

    methods: {
        getNewStep( operation, value )
        {
            return { operation: operation ?? 'optellen', value: value ?? 0 }
        },

        getRandomStep()
        {
            return this.getNewStep( [ 'optellen', 'aftrekken', 'vermenigvuldigen' ][Math.floor( Math.random() * 2.99 )], Math.round( Math.random() * 1500 ) )
        },

        addNewStep()
        {
            this.steps.push( this.getNewStep() )
            this.stepsScrollDown()
        },

        addRandomStep()
        {
            this.steps.push( this.getRandomStep() )
        },

        /* Actions */
        randomizeSteps()
        {
            const newSteps = []

            for ( let index = 0; index < Math.random() * 12; index += 1 )
            {
                newSteps.push( this.getRandomStep() )
            }

            this.steps = newSteps
            this.stepsScrolLDown()
        },

        stepsScrollDown()
        {
            Vue.nextTick( () =>
            {
                this.$refs.steps.scrollTop = this.$refs.steps.scrollHeight
            })
        },

        submit()
        {
            if ( this.calculateButtonDisabled ) return

            // seperated in case we need more complexity
            this[`submitApiV${this.apiVersion}`]()
        },

        /* API calls */
        async submitApiV1()
        {
            alert( 'v1 API is not supported.' ).catch( console.error )
        },

        async submitApiV2()
        {
            try
            {
                const response = await Axios.get( `http://localhost/opdracht-1/api-2/calculate.php?baseValue=${this.baseValue}&steps=${JSON.stringify( this.steps )}` )

                this.lastResponse = response.data.result ?? 'Something went wrong'
            }
            catch( error )
            {
                this.lastResponse = error.response.status === 400 ? 'Syntax Error' : 'Something went wrong'
            }
        },

        async submitApiV3()
        {
            try
            {
                const response = await Axios.get( `http://localhost/opdracht-1/api-3/calculate.php?baseValue=${this.baseValue}&steps=${JSON.stringify( this.steps )}` )

                this.lastResponse = response.data.result ?? response.data.error ?? 'Something went wrong'

                if ( response.data.steps ) this.steps = this.steps.map( ( step, index ) => ({ ...step, ...response.data.steps[index] }) )
            }
            catch( error )
            {
                this.lastResponse = error.response.status === 400 ? error.response.data.error : 'Something went wrong'
            }
        }
    }
}
</script>
