@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/nes.css/css/nes-core.css";

html, body {
    position: relative;
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: #fff;
    color: #202040;
    font-family: 'Press Start 2P', 'Kongtext', 'Ubuntu', sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    user-select: none;
    // outline: 1px solid purple;
}

a, select, input, button, textarea {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    text-transform: inherit;
    letter-spacing: inherit;
    outline: none;
    color: #212121;
    padding: 10px;

    &:focus { outline: 0; }
}
